.custom-navbar {
    background-color: #00d4ff;
}

.main_top {
    padding-top: 2in; /* Adjust the value as needed */
    padding-bottom: 20px;
    text-align: center;
}

.container {
  max-width: 1300px; /* Set maximum width */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add padding to the container */
  box-sizing: border-box; /* Include padding in the width */
  background-color: #234138;
  border-radius: 50px;
}

.row {
  display: flex; /* Use flexbox for columns */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: space-between; /* Space evenly between columns */
  margin: 0 -10px; /* Negative margin to counteract padding */
}

.column {
  flex: 0 0 48%; /* Two columns taking up 48% width each */
  padding: 10px; /* Add padding to each column */
  box-sizing: border-box; /* Include padding in the width */
  background-color: #f2f2f2; /* Background color for demonstration */
  margin-bottom: 20px; /* Add margin between rows */
}

@media (max-width: 767px) {
  /* On smaller screens, make columns take up 100% width */
  .column {
    flex: 0 0 100%;
  }
}